@import "compass";
@import "compass/css3";
@import "var";
@import 'reset';

.wrap {
    width: 1000px;
    height: 1800px;
    background-color: #fff;
    margin-left: 13%;
}

header {
    width: 100%;
    background-color: #2e2e2e;
    float: left;
    
    .soc {
        width: 35%;
        float: left;
        margin-left: 20px;
        margin-top: 21px;
        margin-bottom: 24px;

        a {
            float: left;
            color: #9f9f9f;
            font-size: 12.6px;
            letter-spacing: 0.1px;
            margin-left: 3px;
            font-family: Georgia, sans-serif;
            font-weight: normal;
            font-style: abs(3);
        }
        a:hover {
            color: $white;
        }
        a:first-child {
            margin-left: 0;
        }
    }
    
    .ico {
        float: right;
        margin-right: 20px;
        margin-top: 14px;
        
        img {
            float: left;
            margin-left: 10px;
        }
    }
}

.nav {
    & {

        width: 960px;
        float: left;
        padding: 36px 0 16px 0;
        margin: 0 20px 0 20px;
        margin-bottom: 39px;
        border-bottom: 5px solid rgba(235, 235, 235, 0.64);
    }

    &-01,
    &-02,
    &-03,
    &-04,
    &-05,
    &-06,
    &-07,
    &-08 {
        color: #000;
        text-transform: uppercase;
        margin-left: 5px;
        font-size: 15px;
        padding-bottom: 17px;
        font-family: -webkit-pictograph;
    }
    
    &-01 {
        color: #9f9f9f;
        margin-right: 8px;
        margin-left: 0;
        border-bottom: 5px solid rgba(0, 102, 255, 0.69);
    }

    &-02 {
        letter-spacing: -0.4px;
        margin-right: 10px;
    }

    &-03 {
        letter-spacing: -0.1px;
        margin-right: 10px;
    }

    &-04 {
        letter-spacing: -0.3px;
        margin-right: 8px;
    }

    &-05 {
        letter-spacing: -0.7px;
        margin-right: 12px;
    }

    &-06 {
        margin-right: 9px;
    }

    &-07 {
        margin-right: 9px;
    }

    &-08 {
        letter-spacing: -0.3px;
    }
}

.logo {
    margin-left: 20px;
    float: left;
    margin-right: 20px;
    margin-bottom: 42px;

    &-text {
        float: left;
        width: 215px;

        h1 {
            float: left;
            font-size: 36px;
            font-family: Georgia;
            margin-bottom: 6px;
            font-weight: 100;
        }

        p {
            float: left;
            font-size: 13px;
            color: rgba(25, 7, 7, 0.38);
        }
    }
    
    &-search {
        float: right;
        margin-left: 458px;
        margin-top: 28px;

        input[type="button"] {
            color: white;
            float: right;
            border: none;
            font-size: 12.3px;
            padding: 8.5px 9.5px 8.5px 8.5px;
            border-radius: 5px;
            font-family: Georgia;
            margin-left: 5px;
            text-transform: uppercase;
            background-color: rgba(0, 102, 255, 0.69);
        }

        input[type="text"] {
            float: right;
            background-color: rgba(192, 192, 192, 0.26);
            width: 201px;
            border: none;
            border-radius: 5px;
            font-family: Georgia;
            color: rgba(33, 7, 7, 0.56);
            padding: 8px 8px 8px 5px;
        }
    }
}

.titWithSlider {
    float: left;
    width: 960px;
    padding: 10px 20px 0 20px;
    background-color: #f1f1f1;
    border-top: 5px solid #e9e9e9;
    border-bottom: 10px solid #e9e9e9;

    .title {
        width: 36%;
        float: left;

        h2 {
            float: left;
            font-size: 36px;
            margin-top: 142px;
            letter-spacing: 0.1px;
            margin-left: 1px;
            font-family: Georgia;
            font-weight: 100;
            line-height: 36px;
        }
        
        p {
            float: left;
            font-size: 15px;
            margin-top: 19px;
            font-family: Georgia;
            font-weight: 100;
            line-height: 22px;
            margin-left: 3px;
        }
        
        input[type="button"] {
            float: left;
            background-color: #0099ff;
            color: #ffffff;
            border: none;
            padding: 7px;
            padding-bottom: 6px;
            text-transform: uppercase;
            border-radius: 5px;
            font-size: 16px;
            margin-top: 17px;
        }
    }

    .slider {
        float: right;
        width: 550px;
        height: 440px;
        background-color: #333333;
        text-align: center;

        div {
            display: inline-block;
            margin-top: 170px;
        }

        p {
            margin-top: 37.5%;
            color: #ffffff;
            font-size: 22px;
        }

        .elipse {
            background-color: #000;
            border-radius: 50%;
            width: 17px;
            height: 17px;
        }

        .ring {
            border-radius: 50%;
            border: 3px solid #000000;
            width: 10px;
            height: 10px;
            margin-right: 410px;
        }
    }
}

.intro {
    width: 960px;
    padding: 41px 20px 0 20px;
    margin-bottom: 11px;
    float: left;

    .devices {
        float: left;
        width: 470px;

        .monitor {
            float: left;
            width: 310px;
        }

        .arrow {
            & {
                width: 67px;
                height: 90px;
                float: left;
            }

            &-1 {
                margin-left: 42px;
                margin-top: 41px;
                float: left;
            }

            &-2 {
                transform: rotate(180deg);
                margin-top: -86px;
                float: left;
            }

            &-3 {
                transform: rotate(90deg);
                margin-left: 77px;
                margin-top: 15px;
                float: left;
            }
        }

        .tablet {
             margin-left: 25px;
             margin-top: 26px;
             float: left;
         }

        .phone {
            &-1 {
                float: left;
                margin-left: 18px;
                margin-top: -2px;
            }

            &-2 {
                float: left;
                transform: rotate(90deg);
                margin-left: 42px;
                margin-top: 25px;
            }
        }
    }

    .something {
        float: left;
        width: 467px;
        margin-left: 23px;

        .blocks {
            & {
                float: left;
                width: 50%;
                text-align: center;
            }

            &-left {
                float: left;
                width: 47%;
                text-align: center;
                margin-top: 1px;
                margin-left: 2px;
                margin-right: 23px;
                margin-bottom: 25px;

                .img {
                    width: 85px;
                    height: 80px;
                    float: left;
                    background-color: #494949;
                    text-align: center;
                    margin-bottom: 8px;
                    margin-left: 65px;

                    p {
                        padding-top: 33%;
                        color: #fff;
                        float: left;
                        margin-left: 7px;
                        font-size: 16px;
                    }
                }

                a {
                    font-family: Georgia;
                    float: left;
                    margin-left: 32px;
                    margin-bottom: 11px;
                }

                p {
                    font-family: Georgia;
                    font-size: 14px;
                    line-height: 21px;
                    margin-left: -5px;
                    float: left;
                }
            }

            &-right {
                float: left;
                width: 47%;
                text-align: center;
                margin-top: 1px;
                margin-left: 2px;

                .img {
                    width: 85px;
                    height: 80px;
                    float: left;
                    background-color: #494949;
                    text-align: center;
                    margin-bottom: 8px;
                    margin-left: 65px;

                    p {
                        padding-top: 33%;
                        color: #fff;
                        float: left;
                        margin-left: 7px;
                        font-size: 16px;
                    }
                }

                a {
                    font-family: Georgia;
                    float: left;
                    margin-left: 32px;
                    margin-bottom: 11px;
                }

                p {
                    font-family: Georgia;
                    font-size: 14px;
                    line-height: 21px;
                    margin-left: -7px;
                    float: left;
                }
            }
        }
    }
}

.contactUs {
    width: 960px;
    float: left;
    margin: 0 20px 0 20px;
    border-left: 10px solid #0099ff;
    box-sizing: border-box;
    background-color: #e0e0e0;

    .text {
        float: left;
        width: 60%;

        p {
            float: left;
            font-size: 17.85px;
            margin: 1px 0 26px 30px;
        }

        p:first-child {
            font-size: 36.3px;
            margin: 26px 0 6px 30px;
        }
    }
    
    input {
        float: left;
        border: none;
        background-color: #0099ff;
        color: #e0e0e0;
        padding: 16px 12px 13px 10px;
        font-size: 25.5px;
        border-radius: 7px;
        margin-left: 63px;
        margin-top: 32px;
        text-transform: uppercase;
    }
}